@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	width: 100%;
	height: 80px;
	Line-height: 80px;
	padding: 0px 100px;
	position: fixed;
	background-image: linear-gradient(to right, pink, blue);
}

nav .logo p {
	font-size: 30px;
	font-weight: bold;
	float: left;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	cursor: pointer;
}

nav ul {
	float: right
}

nav li {
	display: inline-block;
	list-style: none;
}

nav li a {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 30px;
	color: white;
}

nav li a:hover {
	color: #69e3ff;
}


body {
	background-image:
		url("https://img.freepik.com/free-photo/doctor-with-stethoscope-hands-hospital-background_1423-1.jpg?w=2000");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	background: light blue;
}
.container{
	background-color:white;
	padding:10px;
	margin:20px;
}
.container::after{
	content:"";
	clear:both;
	display:table;
}
.container img{
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	width:55px;
}
/* .cont-content{
	float:right;
}
.container1{
	display:flex;
} */
.container span{
	font-size: 15px;
	margin-right: 15px;
}
.container p{
	font-size: 15px;
	margin-right: 15px;
}
@media(max-width: 500px){
	.container{
	text-align: center;
	}
	.container img{
	margin: auto;
	float: none;
	display: block;
	}
	
}
.grid{
	 padding-top:200px;
	 margin-left: 143px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	}
.dept{
	padding-top:10px;

	}
	.content{
	background-color:white;
	padding:10px;
	margin:20px;
	}
	.sidenav {
	width: 30px;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 10px;
	background: #eee;
	overflow-x: hidden;
	padding: 8px 0;
	}
	.sidenav a{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #2196f3;
	display: block;
	}
	.sidenav a:hover{
	color: #064579;
	}
	