@charset "ISO-8859-1";

body {
	background-image: linear-gradient(to right, plum, sandybrown, peachpuff, papayawhip, pink,
		sandybrown, salmon, plum);
}

tr:hover {
	background-color: skyblue;
}

tr {
	color: black;
	font-weight: 900;
}

h1 {
	color: blue;
	text-align: center;
	}