@charset "ISO-8859-1";

body {
	background-image: linear-gradient(to right, plum, sandybrown, peachpuff, papayawhip, pink,
		sandybrown, salmon, plum);
}

tr:hover {
	background-color: skyblue;
}

tr {
	color: black;
	font-weight: 900;
}

h1 {
	color: #ff0080;
	text-align: center;
	background-color: black ;
	height: 43px;
    width: 289px;
    margin-left: 500px;
    border-radius: 10px;
}
h1:hover{
	background-color: #37c8ab;
}
.box{
   text-align: center;
 }
 
 table, th, td {
    border: 1px solid black;
    padding: 25px;
    text-align: left;
}

.button2 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: crimson;
    margin-top: 30px;
    background-color: white;
    margin-left: 23px;
     border-radius: 10px; 
}


.button3 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: crimson;
    margin-top: 35px;
    background-color: white;
    margin-left: 1209px;
    border-radius: 10px;
}