@charset "ISO-8859-1";

html, body {
	height: 100%;
}

body {
	background: #ffcc00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.skewed-bg{
	background: #00b3b3;
	padding: 350px 0;
	-webkit-transform: skew(0deg,-10deg);
	-moz-transform: skew(0deg,-10deg);
	-ms-transform: skew(0deg,-10deg);
	-o-transform: skew(0deg,-10deg);
	transform: skew(0deg,-10deg);
	margin-top: -200px;
	
}