@charset "ISO-8859-1";

body {
	background-image: url("https://dz2cdn1.dzone.com/storage/temp/8545556-feedback-header.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

label {
	color: black;
	font-size: 1.3em;
	display: flex;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
	float: center;
}

tr {
	font-style: bold;
	color: #000000;
}

h1 {
    text-align: center;
 	color: blue;
	float: center;
}

#cont {
	width: 150px;
	height: 30px;
	border: black;
	border-radius: 3px;
	padding-right: 8px;
	color: white;
	background-color: maroon;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

#log {
	width: 150px;
	height: 30px;
	border: black;
	border-radius: 3px;
	padding-left: 8px;
	color: white;
	background-color: maroon;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-align: center;
}

.box {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	margin: auto;
	padding: 10px;
	text-align: center;
	float: center;
	font-weight: 900;
	width: 600px;
	height: 600px;
	margin-left: 343px;
	border-radius: 10px;
	backdrop-filter: blur(10px);
}

#log {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.button2 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: crimson;
    margin-top: 30px;
    background-color: black;
    margin-left: 23px;
     border-radius: 10px; 
}


.button3 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: crimson;
    margin-top: 35px;
    background-color: black;
    margin-left: 1209px;
    border-radius: 10px;
}
